body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#111118; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header-container{
  padding: 10%;
  text-align: center;
  color:#FFFFFF; 
}
.data-table{
  background-color: #FFFFFF;
  font-size: 14px;
  padding:10px 20px;
  text-align: left;
  color:#000;
  width: 100%;
  max-width: 400px;
  margin:0 auto;
}
.data-table table{
  border:none;
}
.data-table tr th,
.data-table tr td{
  border-top:1px solid #959292;  
}